{% extends "default.html"%}

comments

{% block title %}
Управление подписками
{% endblock title %}

{% block type_main %}
<main class="container container-white" id="main">
    {% endblock type_main %}


    {% block section %}
    <section class="white-section-100">
        <div class="lk-box">

            <div class="profile-actions">
                <p class="profile-button"><a href="{% url 'profile:lk' %}">В личный кабинет</a></p>
            </div>


            <h1 class="h1-white h1-white-margin-b">Подписки к вашим статьям </h1>


            <!-- Подписки -->
            <div class="profile-main">


            </div>
        </div>
        <br>
        <form method="GET">
            {{ filter.form }}
            <input type="submit" value="Найти">
        </form>
        <br>


        <table>
            <tr>
                <th>Название статьи</th>
                <th>Комментарий</th>
                <th>Пользователь</th>

                <th>Дата и время создания</th>


            </tr>

            {% for comment in comments %}
            <tr>
                <td><a href="{% url 'gnews:detail' comment.post.id %}">{{comment.post.title}}</a></td>
                <td>{{comment.text}}</td>
                <td>{{comment.user}}</td>
                <td>{{comment.date_time|date:"d.m.Y H:i"}}</td>
                <td>
                    <form method="post" action="{% url 'comments:accept' comment.id %}">
                        {% csrf_token %}
                        <button class="reuse-btn" name="comment-id" value="{{comment.id}}">
                            принять
                        </button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'comments:del' comment.id %}">
                        {% csrf_token %}
                        <button class="reuse-btn-red" name="comment-id" value="{{comment.id}}">
                            удалить
                        </button>
                    </form>
                </td>
            </tr>


            {% endfor %}
        </table>


        {% if is_paginated %}

        <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

        {% endif %}


        {% block pagination %}
        {% endblock pagination %}


    </section>
    {% endblock section %}

    {% block aside%}
    {% endblock aside%}

