{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
   <h1 class="h1-white h1-white-margin-b">
        Вход в систему
      </h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<p>Войти с помощью {% include "socialaccount/snippets/provider_list.html" with process="login" %}</p>


<div class="socialaccount_ballot">

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="reuse-form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <br>
    <p>Нет учетной записи? Пройдите <a href="{% url 'account_signup' %}">регистрацию</a></p>
    <p>Забыли пароль? <a href="{% url 'account_reset_password' %}">Востановить пароль</a></p>
    <button class="inp-submit" type="submit">{% trans "Войти" %}</button>

</form>

{% endblock %}
