{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
   <h1 class="h1-white h1-white-margin-b">
        Сброс паролля
      </h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли пароль? Укажите свой email. На вашу почту прийдет письмо с сылкой на сброс пароля." %}</p>
    <br>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class ="inp-submit" type="submit" value="{% trans 'Сбросить пароль' %}" />
    </form>

{% endblock %}
