{% extends 'default.html' %}

{% block title %}
Создание статьи
{% endblock %}

{% block main %}
<main class="container container-white" id="main">
    {% endblock %}

    {% block section %}
    <section class="white-section">
        <div class="forms-box">
            <h1 class="h1-white h1-white-margin-b">
                Разместить статью
            </h1>
            <form class="reuse-form" action="" method="post">
                {% csrf_token%}
                {{ form }}
                <input class="inp-submit" type = 'submit' value="разместить">
            </form>
        </div>
    </section>
    {% endblock section %}

    {% block aside%}
    {% endblock aside %}
